.App {
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
}
button{
  position: relative;
  padding: 10px 0;
  width: 10rem;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 10rem;
  text-transform: uppercase;
  transition: 0.2s;
  outline: none;
}
button:hover{
  transition: 0.2s 0.1s;
  color:#fff;
}
button:before {
  height: calc(100%+2px); width: 0%;
  background-color: #000;
  transition: 0.3s ease-out;
  top: 0; bottom: 0; left: 0px; 
  border-radius: 10em;
  position: absolute;
  z-index: -1;
  content: "";
}
button:hover:before{
  width: 100%;
}
.App>div{
  display: flex;
  flex-direction:column;
  height: 100%;
  justify-content: center;
  min-height: 100vh;
}
.next{
  animation: slide-in-left 0.5s ease-in-out both;
}
.previous{
  animation: slide-in-left 0.5s ease-in-out reverse both;
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  51%{
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.App> div> div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.App> div> div.controls{
  justify-content: center;
  margin-top: 30px;
}
.App> div>div>img, .App> div> button{
  display: inline-flex;
}
.App> div>div>img{
  max-width:30%;
  max-height: 100%;
}
.App> div>div> button{
  margin: 0 10px;
}

@media only screen and (max-width: 600px) {
  .App> div> div:not(.controls){
    flex-direction: column;
  }
  .App> div>div>img{
    max-width:80%;
    margin: 30px auto 0 auto;
  }
  .App> div> div.controls{
    margin-bottom: 30px;
  }
}
